@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');

body{
    font-family: Poppins;
    font-size: 18px;
    color: white;
    margin: 0;
    /* background-image : url("IMGS/AstaFUNDO.jpg"); */
}


/* HEADER */

.header{
    display: flex;
    justify-content: center;
    height: 90px;
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    position: fixed;
    z-index: 3;
    width: 100%;
}

.header .container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .containerNAV{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    width: 50%;
}

.header .containerNAV .navbar{
    width: 400px;
    height: 50%;
    display: flex;
    justify-content: space-around;
    font-size: 16px;
}

.header .containerICON{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#icone{
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
}

#slogan{
    width: 115px;
    color: black;
}

button{
    font-family: Poppins;
    border-radius: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 155px;
    padding: 10px;
    cursor: pointer;
    margin-right: 20px;
}

/* FIM HEADER */

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    color: black;
    font-size: 18px;
}



#astaCorpo{
    border: 2px solid white;;
}

.corpo{
    width: 95%;
    height: 600px;
    /* border: 1px solid blueviolet; */
    display: flex;
    margin: auto;
    background-color: rgb(255, 0, 0);
    padding-top: 50px;
    /* background-image: url("IMGS/AstaFUNDO.jpg"); */
}

.corpo .container{
    width: 90%;
    height: 550px;
    display: flex;
    align-items: center;
}

#apresentacao{
    color: #010302;
}


