@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,500&display=swap');


 /* GLOBAIS */

html{
    scroll-behavior: smooth;
}

body{
    font-family: Poppins;
    font-size: 18px;
    color: white;
    margin: 0;
}

.container{
    width: 90%;
    margin: auto;
}

ul{
    list-style: none;
}

li{
    cursor: pointer;
    color: black;
    font-size: 18px;
}

button{
    font-family: Poppins;
    border-radius: 30px;
    color: white;
    background-color: rgb(0, 0, 0);
    width: 155px;
    padding: 10px;
    cursor: pointer;
}

button a{
    color: white;
}


p{
    color: black;
    border: 1px solid black;
    width: 25%;
    text-align: justify;
    padding: 9px;
}

a{
    text-decoration: none;
    color: black;
}

h4{
    font-size: 40px;
    margin: 0;
}

.containerFOOTER{
    color: black;
    text-align: center;
}

#mensagem_erro{
    text-align: center;
    color: red;
}


/* FIM GLOBAIS */

/* HEADER GLOBAL */

header{
    display: flex;
    justify-content: center;
    height: 75px;
    background-color: rgb(255, 255, 255);
    width: 100%;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .containerNAV{
    display: flex;
    width: 100%;
    justify-content: center;
}

header .containerNAV .navbar{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
}

header .containerICON{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
}

#icone{
    border-radius: 50%;
    border: 1px solid rgb(0, 0, 0);
    width: 50px;
}

#slogan{
    width: 115px;
    color: black;
}

/* FIM HEADER */


 /* CORPO INDEX */

 .areaBanner{
    width: 100%;
    height: 600px;
    display: flex;
    background-image: url(../assets/IMGS/AstaFUNDO.jpg);
    background-size: cover;
}

.areaBanner .banner{
    width: 90%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.areaBanner .banner .container{
    display: flex;
    justify-content: space-around;
}

.areaBanner .banner .container #botaoSobre{
    width: 300px;
    padding: 20px;
    border-radius: 200px;
    border: 1px solid white;
    font-size: 25px;
}

.areaBanner a{
    color: white;
}

#astaCorpo {
    display: flex;
}

#apresentacao{
    color: #010302;
}


.areaValores{
    margin-top: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.areaValores .container{
    display: flex;
    width: auto;
    margin: 0;
    justify-content: center;
    align-items: center;

}

.areaValores .container #imgValores{
    display: flex;
    width: 85%;
}

.valoresContainer{
    width: 100%;
    display: flex;
    margin: 0;
    justify-content: space-evenly;
}

/* FIM CORPO */


/* FOOTER GLOBAL */

footer{
    width: 100%;
    height: 75px;
    border-top: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .container{
    width: 90%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .sociais .container{
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}

#iconInsta{
    display: flex;
    width: 10%;
}

#iconTwit{
    display: flex;
    width: 10%;
}

#iconLinke{
    display: flex;
    width: 10%;
}

footer p{
    display: flex;
    justify-content: space-around;
}


/* SOBRE  */

.sobreAsta{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.sobreAsta p{
    font-size: 25px;
    width: 50%;
    height: 448px;
    border-radius: 2px;
    text-align: justify;
    align-items: center;
    display: flex;
    padding: 20px;
}

.sobreAsta #imgAsta{
    border: 1px solid black;
    border-radius: 2px;
    height: 487px;
}

.sobreMatheus{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.sobreMatheus p{
    font-size: 25px;
    width: 95%;
    height: 335px;
    border-radius: 2px;
    text-align: justify;
    padding: 20px;
}

.sobreMatheus .icones{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

/* FIM SOBRE */

/* GALERIA */

#bodyGaleria{
    padding: 0;
    margin: 0;
}

.imagens{
    width: 100%;
    height: auto;
    background-color: rgb(66, 66, 66);
    display: grid;
    padding-top: 25px;
}

.imagens .conjunto1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 520px;
}

.imagens .conjunto2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 330px;
}

.imagens .conjunto3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 330px;
}

.imagens .conjunto4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 520px;
}

.imagens .box1{
    height: 100%;
    width: 25%;
}

.imagens .box2{
    height: 90%;
    width: 37%;

}
.imagens .box3{
    height: 100%;
    width: 20%;
}

.imagens .imgsCARD{
    border: 2px solid white;
    border-radius: 2px;
    width: 100%;
}

.imagens .imgsICON{
    border: 2px solid white;
    border-radius: 2px;
    width: 100%;
}

.imagens .imgsBANNER{
    border: 2px solid white;
    border-radius: 2px;
    width: 100%;
}

#imgMenor{
    width: 70%;
    height: 70%;
}

/* FIM GALERIA */

/* VOTAR */

header .botoes .pag_Votar{
    background-color: white;
    color: black;
}

.corpoVotar{
    color: black;
    display: flex;
    width: 100%;
    height: 600px;
}

.imgFundo{
    width: 100%;
    height: 600px;
    background: url(../assets/IMGS/BANNERFUNDO.jpg);
    background-size: cover;
    filter: brightness(0.10) opacity(1);
    position: absolute;
}

.corpoVotar .container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.corpoVotar .container .card{
    display: flex;
    height: 525px;
    width: 520px;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1;
}

.corpoVotar .conjuntoInputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.corpoVotar .inpt_Votar{
    width: 190px;
    height: 30px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
}

.corpoVotar .isolar{
    display: flex;
    flex-direction: row;
}

.corpoVotar .nome{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.corpoVotar #inpt_Email{
    width: 430px;
}

.corpoVotar .span_Email{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.corpoVotar .selectFav{
    display: flex;
    align-items: center;
    padding: 15px;
}

.corpoVotar .persFav{
    display: flex;
    width: 115px;
    height: 30px;
    border: 2px solid black;
    border-radius: 10px;
    font-family: Poppins;
    font-size: 17px;
}

.corpoVotar .isolarNome{
    display: flex;
    flex-direction: column;
}

#voto_feito{
    display: flex;
    text-align: center;
    color: green;
}

/* FIM VOTACAO */

/* METRICAS */

#sair{
    width: 200px;
    height: 45px;
    font-size: 15px;
}

#usuario{
    color: black;
    font-size: 20px;
}

.dashCards h2{
    color: black;
    margin: 0;
}

.dashCards{
    width: 100%;
    height: 545px;
    display: flex;
    flex-direction: column;
}

.dashCards .container{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.dashCards .container .cards{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    width: 815px;
}

.dashCards h4{
    color: black;
    margin: 0;
}

.dashBox{
    width: 30%;
}

.imgsDash{
    width: 100%;
    border: 1px solid black;
    border-radius: 2px;
}

.boxMetrica{
    width: 515px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(66, 66, 66);
    border-radius: 10px;
}

.metrica{
    color: rgb(255, 255, 255);
    display: flex;
    width: 100%;
    font-size: 23px;
    align-items: center;
    justify-content: center;
}

.boxTitulo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tituloDash{    
    color: black;
    margin-bottom: 0;
    margin-top: 20px;
}